DEBUG=True
OCG_KEY=7r38f2wrf6hwfy88888hnayio
GCP_SERVICE_ACCOUNT=planetview@planetview-433605.iam.gserviceaccount.com
GCP_SERVICE_KEY_PATH=credentials\planetview-34fr43fs3fsgdvdsg605-sgdfgsded1dg7a2dsgsgvc9d020g.json
SAVE_DIR=./static/Images/ModelImages/RGBImages
MODEL_PATH=./Model/model_3cls_74acc